/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	mc-disabled: false;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

section
{
	mc-hidden: hidden;
}

tr.checkDisable
{
	
}

p.checkDisabled
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #9370db;
	font-size: 28pt;
	mc-disabled: true;
}

p#idCheckDisabled
{
	margin-top: 0pt;
	margin-bottom: 0pt;
	color: #9370db;
	font-size: 28pt;
	mc-disabled: true;
}

p#bigDisabledCheck
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	mc-disabled: false;
	mc-hidden: hidden;
}

h1.Fish
{
	font-weight: bold;
	font-size: 24.0pt;
}

h1#checkFish
{
	font-weight: bold;
	font-size: 24.0pt;
	mc-hidden: hidden;
}

